[submodule "learning-javascript"]
	path = javascript
	url = https://github.com/VPashkov/learning-javascript
[submodule "learning-haskell"]
	path = haskell
	url = https://github.com/VPashkov/learning-haskell
